@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #646cff;
}


:root {
  font-family: 'Inter', system-ui, sans-serif;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}